body {
    width: auto;
    height: auto;
    padding: 0.5%;
    font-family: sans-serif;
    background-color: #CBD6D8;
    color: #374649;
}

h1 {
    text-align: center;
    margin: .5% 0;
}

.container {
    width: 100%;
}

#app {
    border: solid 2px #374649;
    width: 50%;
    margin: 0 25%;
}

.infoLine {
    margin: .75% 25%;
    display: inline-block;
}

.infoItem {
    margin-right: 1rem;
    display: inline-block;
    float: left;
    font-size: 1em;
}

.btn {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    background-color:  #374649;
    color: #f0f3f4;
    border: 2px solid #374649;
    padding: .25em 1em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    border-radius: 2px;
}

.btn:hover {
    background-color: #f0f3f4;
    color: #374649;
}



